<footer class="footer">
    {% if theme_config.footer_blocks|length > 0 %}
    <div class="footer-widget-section">
        <div class="container text-center">
            <div class="row">
                {% for block in theme_config.footer_blocks %}
                <div class="col-sm-{{ (12 / theme_config.footer_blocks|length)|round }} footer-block">
                    <div class="footer-widget widget_text">
                        {% if block.title %}
                        <h3>{{ block.title }}</h3>
                        {% endif %}
                        {% if block.logo %}
                        <div class="footer-logo">
                            <a href="{{ base_url == '' ? '/' : base_url }}"></a>  
                        </div>
                        {% endif %}
                        {% if block.content %}
                        {{ block.content }}
                        {% endif %}
                        {% if block.icons and theme_config.footer_icons|length > 0 %}
                        <ul class="list-inline social-links">
                            {% for icon in theme_config.footer_icons %}
                            <li><a href="{{ icon.url }}"><i class="fa {{ icon.icon }}"></i></a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

                {% if page.header.grayscale %}
                    {% set image = page.media.images|first.grayscale() %}
                {% else %}
                    {% set image = page.media.images|first %}
                {% endif %}
                <div class="modular-row features sideimage pure-g {{ page.header.class }}"> 
                    <section class="about-text ptb-100">
                            <div class="container text-center">
                              <div class="col-md-4 footer-text">
                                <a class="footer-brand" href="{{block.url }}">
                                    {{ page.media.images[block.image].html('', block.name) }}
                                    <img src="/images/logo_solartester.svg" alt="svg picture" width="100">
                                 </a>
                                    <h2>{{  block.title }}</h2>
                                    <p>{{ block.content }}</p> 
                                    ldkjflskdjfl
                                </div>
                                <div class="col-md-4 footer-text">
                                    <h2>{{  block.title }}</h2>
                                    Title
                                    <p>{{ block.content}}</p> 
                                    sldkfjslkdjflsd</br>
                                    sdfsdfsdfsd
                                </div>
                                <div class="col-md-4 footer-text">
                                    <h1>{{  block.title }}</h1>
                                     title
                                    <p>{{ block.content }}</p> 
                                    ösdkfösldkfösldköf</br>
                                    gfdgdfgkdöfgködflgködflkö
                                </div>
                            </div>
                    </section>
                </div>
     
        <div class="copyright-section">
        <div class="container clearfix">
            <span class="copytext">{{ theme_config.copyright }}</span>
            <span  id="toTop" class="chevron up"></span>
            <ul class="list-inline pull-right">
            {% for page in pages.children %}
                {% if page.header.shown_in_footer %}
                    {% set activeClass = (page.active) ? 'active' : '' %}
                    <li class="{{ activeClass }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</footer>
