<section class="x-services ptb-100 gray-bg">

    <section class="section-title">
        <div class="container text-center">
            <h2>{{ page.title }}</h2>
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>

    <div class="container">
    {% for service in page.header.services %}
        {% if loop.index % 2 == 1 %}
        <div class="row">
        {% endif %}
            <div class="col-md-6">
                <div class="thumbnail clearfix">
                    <a class="service-section" href="{{ service.url }}">
                        {{ page.media.images[service.image].lightbox(1000,1000).cropZoom(300, 250).html('', service.title) }}
                            <img src="/images/icon-calendar.svg" alt="svg picture" width="20">
                            <img src="/images/icon-category.svg" alt="svg picture" width="20">   
                    </a>
                    {% if page.header.grayscale %}
                        {% set image = page.media.images|first.grayscale() %}
                            {% else %}
                                {% set image = page.media.images|first %}
                            {% endif %}

                            <div class="modular-row features sideimage pure-g {{ page.header.class }}">
                                {% if page.header.image_left %}
                                <div class="pure-u-1-2">
                                    <div class="{{ page.header.image_type }}" style="background-image: url('{{ image.url }}'); background-size: cover;"></div>
                                </div>
                                {% endif %}
                                <div class="pure-u-1-2">
                                    {{ content }}
                                    {% for button in page.header.buttons %}
                                        <a class="button{% if button.primary %} primary{% endif %}" href="{{ button.url }}">
                                            {{ button.text }}
                                        </a>
                                    {% endfor %}
                                </div>
                                    {% if page.header.image_right %}
                                <div class="pure-u-1-2">
                                    <div class="{{ page.header.image_type }}" style="background-image: url('{{ image.url }}'); background-size: cover;"></div>
                                </div>
                                    {% endif %}
                            </div>

                    <div class="caption">
                        <p>{{ service.date }}</p>
                        <h3><a href="{{ service.url }}">{{ service.title }}</a></h3>
                        <p>{{ service.description }}</p>
                       
                    </div>
                </div>
            </div>
        {% if loop.index == page.header.services.count or loop.index % 2 == 0 %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
</section>

{{content}}
