<section class="team ptb-100">
    <section class="section-title">
        <div class="container text-center">
            {# <h2>{{ page.title }}</h2> #}
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>
    <div class="container">
    {% for member in page.header.members %}

        {% if loop.index % 3 == 1 %}
        <div class="row">
        {% endif %}
            <div class="col-md-4">
                {# <figure class="thumbnail"> #}
                    {# <a href="{{ member.url }}">
                        {{ page.media.images[member.image].html('', member.name) }}
                        <img src="/user/themes/x-corporation/img/logo_solartester.svg" alt="svg picture" width="100">
                    </a> #}
                    {% if page.header.grayscale %}
                        {% set image = page.media.images|first.grayscale() %}
                    {% else %}
                        {% set image = page.media.images|first %}
                    {% endif %}

                    <div class="modular-row features sideimage pure-g {{ page.header.class }}">

                        {% if page.header.image_left %}
                        <div class="pure-u-1-2">
                            <div class="{{ page.header.image_type }}" style="background-image: url('{{ image.url }}'); background-size: cover;"></div>
                        </div>
                        {% endif %}

                        <div class="pure-u-1-2">
                            {{ content }}

                            {% for button in page.header.buttons %}
                                <a class="button{% if button.primary %} primary{% endif %}" href="{{ button.url }}">
                                    {{ button.text }}
                                </a>
                            {% endfor %}
                        </div>

                        {% if page.header.image_right %}
                        <div class="pure-u-1-2">
                            <div class="{{ page.header.image_type }}" style="background-image: url('{{ image.url }}'); background-size: cover;"></div>
                        </div>
                        {% endif %}

                    </div>
                    {# <small>{{ member.description}}</small> #}
                    <figcaption class="text-center">
                        <h6>{{ member.description }} 
                            <small>{{ member.position}}</small>
                            {# <small>{{ member.description}}</small> #}
                        </h6>
                    </figcaption>
                {# </figure> #}
            </div>
        {% if loop.index == page.header.members.count or loop.index % 3 == 0 %}
        </div>
        {% endif %}

    {% endfor %}
    </div>
</section>
